* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    display: inline-block;
}

header {
    background-color: #284854;
    padding: 20px 5px 0;
}

div.header__wrapper {
    /*position: fixed;*/
    /*top: 20px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1230px;
    border-radius: 100px;
    background: #60C1BD;
    padding: 20px 15px;
    margin: 0 auto;
    /*z-index: 1;*/
}

.section__1 {
    background-color: #284854;
    padding: 200px 0;
}

div.wrapper {
    position: relative;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

a.logo {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 35px;
}

.nav__header {
    display: flex;
    justify-content: center;
    gap: 40px;
}

a.nav {
    font-size: 18px;
    line-height: 25px;
    color: #284854;
}

.button {
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    background-color: #60C1BD;
    border: 1px solid #ffffff;
    padding: 10px 30px;
}

.hamburger {
    display: none;
    border: 1px solid #ffffff;
    background: #ffffff;
    width: 18px;
    height: 0;
    margin: 5px;
    position: relative;
}

.hamburger::before, .hamburger::after {
    content: '';
    border: 1px solid #FFFFFF;
    background: #ffffff;
    width: 16px;
    height: 0;
    margin: 5px;
    position: absolute;
    transform: translateX(-6px);
}

.hamburger::after {
    transform: translate(-6px, -12px);
}

div.veterinary__staffing {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}


div.text__staffing {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.img__scooter {
    width: 100%;
    max-width: 300px;
}

img.scooter {
    width: 100%;
    max-width: 300px;
}

h1.main__title {
    font-family: 'Roboto', sans-serif;
    font-size: 85px;
    line-height: 102px;
    color: #8BC441;
    margin-bottom: 20px;
}

p.text__1 {
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    padding-right: 170px;
}

.section__2 {
    background-color: #ffffff;
}

div.vet__hosp {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 170px;
}

div.vet, div.hosp {
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 4px;
    background-color: #F4F6F0;
    padding: 50px 50px 50px 30px;
    margin-top: -80px;
}

.box__vet__hosp {
    padding-right: 50px;
}

h4.vethosp {
    font-family: 'Roboto', sans-serif;
    font-size: 37px;
    line-height: 43px;
    color: #8BC441;
}

p.text__vet__hosp {
    font-size: 20px;
    line-height: 27px;
    color: #60C1BD;
}

div.top__section__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.top__text__section__2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #60C1BD;
}

h2.top__title__section__2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 64px;
    color: #284854;
    margin-bottom: 110px;
}

div.drum, div.telescope, div.embrace {
    width: 100%;
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 90px;
}

div.text__drum {
    width: 100%;
    max-width: 525px;
    padding-left: 20px;
}

div.text__telescope {
    width: 100%;
    max-width: 450px;
    padding-right: 20px;
}

div.text__embrace {
    width: 100%;
    max-width: 490px;
    padding-left: 20px;
}

p.over__title__text {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #798B56;
}

h3.middle__title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #8BC441;
}

p.middle__text {
    font-size: 16px;
    line-height: 29px;
    color: #284854;
}

span.best {
    text-decoration: underline;
}

img.img__drum {
    max-height: 317px;
}

img.img__embrace {
    max-height: 300px;
}

img.img__telescope {
    max-height: 340px;
}

section.grey__section__3 {
    background-color: #F4F6F0;
    padding: 80px 0 130px 0;
}

img.img__vets {
    max-height: 385px;
}

div.container__section__3 {
    display: flex;
    justify-content: space-around;
}

div.mission {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

h2.title__section__3 {
    margin: 0;
}

p.text1__section__3 {
    font-size: 18px;
    line-height: 32px;
    color: #284854;
}

a.button__section__3 {
    font-size: 16px;
    line-height: 22px;
    color: #60C1BD;
    border: 2px solid #60C1BD;
    padding: 10px 5px;
    width: 100%;
    max-width: 130px;
    margin-left: 40px;
}

section.green__section__4 {
    background-color: #8BC441;
    padding: 80px 0;
}

div.bike__section__4 {
    display: flex;
    justify-content: space-around;
}

div.box__section__4 {
    width: 100%;
    max-width: 600px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2.title__section__4 {
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    line-height: 64px;
    color: #FFFFFF;
}

div.mini__box__together {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

div.under1__title__section__4, div.under2__title__section__4 {
    width: 100%;
    max-width: 220px;
}

p.text__section__4 {
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.section__5 {
    padding: 120px 0 40px 0;
}

div.last__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

div.over__footer__section__5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    padding: 0 10px;
}

div.class__find__us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.box__img__connection {
    margin: 0 0 -220px 0;
    width: 100%;
    max-width: 230px;
    max-height: 210px;
}

img.img__connection {
    width: 100%;
    max-width: 230px;
}

h6.title__section__5 {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #284854;
    margin-bottom: 20px;
}

a.link__section__5 {
    font-size: 14px;
    line-height: 30px;
    color: #60C1BD;
    text-decoration: none;
}

a.line__height__19 {
    line-height: 19px;
}

footer {
    padding: 40px 0;
    width: 100%;
    max-width: 600px;
}

nav.box__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

p.last__text {
    font-size: 13px;
    line-height: 18px;
    color: #284854;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 426px) {

    div.header__wrapper {
        max-width: 425px;
    }

    .section__1 {
        background-color: #284854;
        padding: 100px 0;
    }

    a.logo {
        font-size: 20px;
        line-height: 25px;
    }

    .nav__header {
        display: none;
    }

    .button {
        font-size: 14px;
        line-height: 19px;
        padding: 5px 10px;
    }

    .mob__box__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .hamburger {
        display: block;
    }

    div.veterinary__staffing {
        flex-direction: column;
        gap: 20px;
    }

    h1.main__title {
        font-size: 40px;
        line-height: 50px;
    }

    p.text__1 {
        font-size: 18px;
        line-height: 24px;
        padding-right: 0;
    }

    div.img__scooter {
        max-width: 200px;
        margin: 0 auto;
    }

    img.scooter {
        max-width: 200px;
    }

    div.vet__hosp {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 20px;
    }

    div.vet, div.hosp {
        padding: 20px 20px 20px 10px;
        gap: 15px;
    }

    div.hosp {
        margin: 0;
    }

    h4.vethosp {
        font-size: 27px;
        line-height: 33px;
    }

    p.text__vet__hosp {
        font-size: 16px;
        line-height: 20px;
    }

    p.top__text__section__2 {
        font-size: 12px;
        line-height: 14px;
    }

    h2.top__title__section__2 {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 40px;
    }

    div.drum, div.telescope, div.embrace {
        max-width: 425px;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    div.telescope {
        flex-direction: column-reverse;
    }

    div.text__telescope {
        padding-right: 0;
        padding-left: 20px;
    }

    p.over__title__text {
        font-size: 12px;
        line-height: 17px;
    }

    h3.middle__title {
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    p.middle__text {
        font-size: 13px;
        line-height: 19px;
    }

    span.best {
        text-decoration: underline;
    }

    img.img__drum, img.img__embrace, img.img__telescope {
        max-width: 200px;
        margin: 0 auto;
    }

    section.grey__section__3 {
        padding: 40px 0;
    }

    div.container__section__3 {
        flex-direction: column;
        gap: 20px;
    }

    img.img__vets {
        max-width: 200px;
        margin: 0 auto;
    }

    div.mission {
        max-width: 425px;
        gap: 20px;
    }

    p.text1__section__3 {
        font-size: 13px;
        line-height: 19px;
    }

    button.button__section__3 {
        font-size: 14px;
        line-height: 19px;
        padding: 5px 10px;
        margin: 0 auto;
        transform: translateX(-20px);
    }

    section.green__section__4 {
        background-color: #8BC441;
        padding: 40px 0;
    }

    div.bike__section__4 {
        flex-direction: column;
    }

    div.box__section__4 {
        max-width: 425px;
        gap: 20px;
    }

    img.img__bike {
        max-width: 200px;
        margin: 0 auto;
    }

    h2.title__section__4 {
        font-size: 25px;
        line-height: 34px;
    }

    p.text__section__4 {
        font-size: 16px;
        line-height: 24px;
    }


    .section__5 {
        padding: 40px 0;
    }

    div.last__container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 0;
    }

    div.box__img__connection {
        margin: 0;
    }

    img.img__connection {
        width: 100%;
        max-width: 200px;
    }

    a.link__section__5 {
        line-height: 20px;
        padding: 0 15px;
    }

    footer {
        padding-top: 0;
        max-width: 425px;
    }

    nav.box__footer {
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    p.last__text {
        text-align: center;
    }

}

@media screen and (min-width: 425px) and (max-width: 1440px) {

}


